<main class="container">
  <%= link_to sanitize("&larr; Back to crawlers"), crawlers_path %>

  <div class="header">
    <h1>New crawler</h1>
  </div>

  <%= render "form", crawler: @crawler %>
</main>