.form {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);
  flex-direction: column;

  &__group {
    display: flex;
    gap: var(--space-xs);
  }

  &__input[type="text"] {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: var(--space-xxs) var(--space-xs);
    border: var(--border);
    border-radius: var(--border-radius);
    outline: none;
    transition: box-shadow 250ms;

    &:focus {
      box-shadow: 0 0 0 2px var(--color-glint);
    }
  }

  &__input--invalid {
    border-color: var(--color-primary) !important;
  }


  .checkbox {
    position: relative;
    display: block;
    background:green;

    label {
      position: relative;
      display: block;
    }

    .form__checkbox {
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      z-index: 1;
      //appearance: none;
      //-webkit-appearance: none;
      //-moz-appearance: none;

    }


    label {
      position: relative;
      background: blue;
      color: white;
      input {
        // styles reset, including removing the default dropdown arrow
        background-color: transparent;
        border: 1px solid transparent;
        padding: 0 0 0 0;
        margin: 0;
        width: 100%;
        font-family: inherit;
        font-size: inherit;
        cursor: inherit;
        line-height: inherit;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background: red;

        &:checked {
          background: yellow;
        }
      }
    }
    //
    display: block;
    position: relative;
  }

  option {
    background: var(--color-primary-faded);
    color: white;
    padding: var(--space-s);



    &:checked {
      background: var(--color-primary);
    }

  }

  input[type="submit"] {
    flex-basis: 100%;
  }
}